body{
  padding-right: 200px;
}

div.main {
  display: block;
  width: 600px;
  margin: 0 auto;
  border: 1px solid black;
  overflow: hidden;
}

div.right{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 100%;
  padding-top: 20px;
}

div.canvas {
  margin: 5px auto;
  border: 1px solid red;
  width: 100px;
  height: 100px;
}

div.sprite {
  position:relative;
  border: 1px solid black;
  overflow:hidden;
  height: 1px;
  width: 1px;
  margin: 5px;
}

div.sprite img#sprite-movable {
  display:block;
  position: relative;
}

.parameters {
  padding-right: 97px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.parameters input {
  width: 100px;
}

#frame-list {
  line-height: 1.5em;
  margin: 0 auto;
  list-style-type: none;
}

#frame-list li {
  display: inline-block;
  margin: 0 5px;
}

.csv-frame {
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  background-color: white;
}

.csv-frame textarea {
  height: 200px;
}