<div class="container">
  <h1>Sprite Animator</h1>

  <form action='/spritesheet' method='post' enctype='multipart/form-data'>
    <input type='file' name='file' />
    <input type='submit' />
  </form>

  <h3>Spritesheets</h3>
  <% @spritesheets.each do |spritesheet| %>
    <li>
      <a href="/editor/<%= spritesheet.id %>"><%= spritesheet.filename %></a>
    </li>
  <% end %>
</div>