
    <form action='/' method='post' enctype='multipart/form-data'>
      <input type='file' name='file' />
      <input type='submit' />
    </form>

    Mouse X: <span id='mouseX'></span><br>
    Mouse Y: <span id='mouseY'></span><br>
    Color: <span style="background-color:white" id='color'></span><br>

    <img id='sprite-image' src='<%= @image_url %>' />